*pyc

venv
*.png
*.jpg
.vscode/
71619_sat_26/
71619_sat_30/
71619_sat_44/
72807_sat_88/
result_forest/
result(3_compare/
*.json
71619_sat_26_json/
71619_sat_30_json/
71619_sat_44_json/
72807_sat_88_json/
vegetation_results/
crack_results/
從論文減圖的工具/
result_crack/
paper_pic_sigma_0.1/
tests/
fortest/